<div class="container" style="margin-top:10%;">
    <div class = "content-section text-center">    
        
        <h1>Welcome to Hackathon Organizer</h1>
        <p>With this app has never been easier to organize your hackathon</p>
        </br>
        <% if !logged?%>
            <%= link_to "SIGN UP", signup_path, class: "btn btn-primary btn-xl" %>
        <% end %>
    </div>
</div>