<center style="margin-top: 20%">
    
<%= link_to 'Create New Hackathon', new_hackathon_path %>
<h1>Welcome to Hackathon Organizer</h1>
<p>In a few weeks you will see a cool hackathon organizer app </p>
</center>
